<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="css/livementions.css">
        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css" >
    </head>
    <body ng-app="trends" ng-controller="main">
        <div class="socmacs">
<!--             <table class="stats" ng-bind="stats">
                <tr><td>Trending topics: </td><td class="value">{{stats.topics}}</td></tr>
                <tr><td>Cross-machine topics: </td><td class="value">{{stats.cross}}</td></tr>
            </table> -->
            <div class="time">Last updated: {{lastupdate}}</div>
            <div ng-repeat="sm in socmacs" class="socmacs">
                <div ng-repeat="loc in sm.locations" class="location {{sm.name}}"> 
                <!-- <div ng-repeat="box in boxes"> -->
                    <img class="flag" ng-src="{{flagPath(loc.name)}}" />
                    <table>
                        <tr ng-style="{'font-size': (0.6 + (10-0.8*t.rank)/10.0)+'vw'}" class="topic" ng-repeat="t in loc.trends[0].list">
                            <td class="rank"><span class="glyphicon {{deltaImage(t.delta)}}"></span></td>
                            <td class="topiclabel"><a href="{{t.link}}" ng-style="{'color': '{{t.topic.colour}}'}">{{t.label}}</a></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        <script src="bower_components/less/dist/less.min.js"></script>
        <script src="bower_components/jquery/dist/jquery.min.js"></script>
        <script src="bower_components/underscore/underscore-min.js"></script>
        <script src="bower_components/socket.io-client/socket.io.js"></script>
        <script src="bower_components/angularjs/angular.min.js"></script>
        <script src="bower_components/angular-socket-io/socket.min.js"></script>
        <script src="bower_components/d3/d3.min.js"></script>
        <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="js/trends.js"></script>
    </body>
</html>
